{% extends 'layout.html' %}

{% block mainpage %} 

<div class="wrapper">
    <div class="info">
        <form method="POST" action="/create">
            <div class="form-group">
                <label for="text1">Article name:</label>
                <textarea class="form-control" id="text1" name="text1" rows="1"></textarea>
                <label for="text2">Article text:</label>
                <textarea class="form-control" id="text2" name="text2" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

{% endblock mainpage %} 